# Ignore virtual environment directories
fastapienv/
fastepienv/
rbflowenv/

__pycache__/
*.pyc
*.pyo

# Ignore other temporary files
*.log
*.tmp

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local

venv/

.vercel/

# Ignore any other large or unnecessary directories
werkzeug/
Werkzeug-1.0.1.dist-info/


