# Ignore virtual environment directories
fastapienv/
fastepienv/

__pycache__/
*.pyc
*.pyo

# Ignore other temporary files
*.log
*.tmp

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local

